*{
    background:linear-gradient(to right bottom, rgba(24, 21, 59, 0.773), rgba(54, 18, 65, 0.653));
    color:rgb(173, 215, 216);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.diffcolor{
    color:rgb(204, 95, 177);
}
